@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 18px;
  font-family: "Sour Gummy", sans-serif;
}

body {
  background-color: #e494a0;
  color: #662b3f;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

#container {
  background-color: rgb(255, 202, 210);
  width: min(100%, 800px);
  border: rgb(195, 121, 121) solid 2px;
  border-radius: 24px;
  /* padding-left: calc(100vw - 100%); /* https://stackoverflow.com/a/30293718 - is this necessary? */
}

#content {

}

main {
  padding: 8px 24px;
}

@media screen and (max-width: 800px) {
  body {
    border-left: none;
    border-right: none;
  }
} @media screen and (max-width: 420px) {
  html {
    font-size: 16px;
  }
}

header {
  border-bottom: 1px dashed gray;
  padding: 24px 2px;
}

#title {
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  color: #f93f7d;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}
nav>li {
  display: inline;
}

a:any-link {
  color: rgb(5, 137, 189);
  text-decoration: none;
}
nav a {
  text-decoration: none;
}
a.osu-nav {
  color: #f83d91;
}

footer {
  color: rgb(157, 47, 47);
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 12px; /* Breaks when screen isn't tall enough */
}

img[onclick]:hover {
  cursor: pointer;
}

button {
  font-family: inherit;
  background-color: rgba(238, 100, 146, 0.99);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 3px;
}
a * {
  cursor: pointer;
}

.gray-indent {
  border-left: 2px rgba(64, 64, 64, 0.75) dashed;
  padding-left: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.center-text {
  text-align: center;
}