#osu-lead ul {
    padding: 0px;
    padding-top: 10px;
    width: 90%;
    margin: auto;
    text-align: center
} #osu-lead li {
    padding-bottom: 10px
}
.ellipsis {
    text-align: center;
    color: white;
}
p {
  text-align: center;
}
#guides {
  margin-bottom: 16px;
}

#milestones {
  color: gray;
  font-size: 90%
}
.play-milestone, .play-milestone:link, .play-milestone:visited {
  color: white;
}